

.excerpt {
  background: #fff;
  text-align: left;


  width: 95%;
  margin: 0 auto;
  margin-bottom: 40px;

  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.04);
}

.excerpt__header,
.excerpt__content,
.excerpt__footer {
  padding: 15px 20px;
}

.excerpt__header {
  background: $theme;
  text-align: center;
}

.excerpt__title {
  margin-bottom: 10px;
  a {
    text-decoration: none;
  }
}

.excerpt__meta {
  font-family: $sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
}

date.excerpt__meta {
  margin-right: 10px;
}

.excerpt__meta__category:not(:last-child):after {
  content: ',';
}

.excerpt__content {
  img,
  pre,
  h2,
  h3,
  div {
    display: none;
  }
}


.excerpt__footer {
  padding-top: 0;
  display: flex;
  justify-content: space-between;
}


