
.profile-pic {
	width: 70%;
	max-width: 300px;
	display: block;
	margin: 0 auto;
}

.site-main--home {
	text-align: center;
}


/* */

.read-more-link {
	display: block;
	margin: 0 auto;
	text-align: center;
}